Networking/RestAPI/node_modules
Networking/RestAPI/dist
Networking/RestAPI/.env

Networking/GraphQl/node_modules
Networking/GraphQl/dist
Networking/GraphQl/.env

Networking/gRPC/node_modules
Networking/gRPC/dist
Networking/gRPC/.env